---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="container mx-auto p-2">
    <article class="prose">
    <h1>Salut</h1>
    <p>C'est <strong>Ludovic Coullet</strong>.</p>
    <p>Pas grand chose pour le moment, mais vous pouvez me retrouver sur :</p>
    <ul>
      <li>
        <a href="https://mastodon.social/@lcoullet">Mastodon</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/lcoullet/">Linkedin</a>
      </li>
      <li>
        <a href="https://soundcloud.com/blud/tracks">Soundcloud</a>
      </li>
      <li>
        <a href="https://www.instagram.com/lcoullet/">Instagram</a>
      </li>
    </ul>
  </article>
  </main>
</Layout>
