{{ partial "header.html" . }}
	<main>
		
<article class="cf ph2 ph4-ns pv5">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
      {{ .Title }}
    </h1>
		<time class="pv1 f6 ttu tracked gray">{{ .Date.Format "02-01-2006" }}</time>
		{{ if isset .Params "tags" }}
		<div id="tags" class="f3 mid-gray lh-title pv2">Catégorie(s) : 
					{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="link di">{{ . }}</a>
					{{ end }}
		</div>{{ end }}
  </header>
  <div class="fn fl-ns w-50-ns lh-copy">
    {{ .Content }}
  </div>
</article>
<div class="pa4">{{ template "_internal/disqus.html" . }}</div>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
